/* src/app/globals.css */
@import "tailwindcss";

@theme {
  /* Definimos los colores personalizados aquí */
  --color-barber-black: #000000;
  --color-barber-green: #99c140;
  --color-barber-red: #cc3232;
  --color-barber-lightRed: #de6573;
  --color-barber-orange: #db7b2b;
  --color-barber-lime: #8cb822;
  --color-barber-gray: #333333;
}

/* Estilos base para el modo oscuro por defecto */
:root {
  background-color: var(--color-barber-black);
  color: white;
}

body {
  background-color: var(--color-barber-black);
  color: white;
}